body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #ff0000;
    /* fundo vermelho */
    font-family: sans-serif;
}


#zona {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vw;
    background-color: #ff0000;
    /* vermelho */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    pointer-events: none;
}

#centro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200vw;
    /* círculo inicial */
    height: 200vw;
    background-color: #e0e0e0;
    /* área segura */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}